# Rust
target/
Cargo.lock.bak
**/*.rs.bk

# Frontend
frontend/static/elm.js
frontend/elm-stuff/
frontend/node_modules/

# Editor
.idea/
.vscode/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Local config
.env
.env.local
